<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony Tasks{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <div id="header">
                <h1>Symfony Tasks</h1>
                <ul id="menu">
                    {% if app.user %}
                        <li><a href="{{ path('tasks') }}">Home</a></li>
                        <li><a href="{{ path('my_tasks') }}">My tasks</a></li>
                        <li><a href="{{ path('task_creation') }}">New task</a></li>
                    
                        <li class="right"><a href="{{ path('log-out') }}">Log Out</a></li>
                        <li class="right"><a href="">{{ app.user.name ~ ' ' ~ app.user.surname }}</a></li>
                    {% else %}
                        <li><a href="{{ path('log-in') }}">Log In</a></li>
                        <li><a href="{{ path('sign-up') }}">Sign Up</a></li>
                    {% endif %}
                </ul>  
            </div>
            <div class="clearfix"></div>   
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
